timeout 10
default 0
splashimage={HD_BOOT}/boot/grub/splash.xpm.gz

title=Yaxkin Linux {VERSAO_YAXKIN}
root {HD_BOOT}
kernel /boot/kernel-genkernel-x86_64-{VERSAO} real_root={ROOT} rootfstype={FS_ROOT}
initrd /boot/initramfs-genkernel-x86_64-{VERSAO}

title=Memtest
root {HD_BOOT}
kernel /boot/memtest86plus/memtest
